
.flex {
    display: flex;
}

.dirColumn {
    flex-direction: column;
}

.container {
    height: 500px;
    width: 500px;
    border: 2px solid black;
}

#content,
#header,
#footer,
#buttons {
    justify-content: center;
}

#content {
    margin: 60px;
    align-items: center;
    gap: 5px;
}

#buttons {
    gap: 5px;
    width: 500px;
    justify-content: left;
}

.row,
.tile {
    flex: 1;
}