
.flex {
    display: flex;
}

.dirColumn {
    flex-direction: column;
}

.container {
    height: 960px;
    width: 960px;
    background-color: blue;
}

.row {
    flex: 1;
}

.tile {
    border: 2px solid black;
    flex: 1;
}

.hovered {
    background-color: black;
}